[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-groq = "*"
langchain-google-genai = "*"
langchain-community = "*"
langgraph = "*"
pydantic = "*"
fastapi = "*"
uvicorn = "*"
streamlit = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.13"
